body {
  background : #f4f4f2;
  color: #333333;
  margin-top: 5rem;
}

h2,
h3,
h4,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5c5b56;
}


.site-header .navbar-nav .nav-link {
  color: #f4f4f2;
  display:inline-block;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background-color: rgb(250, 250, 250);
  padding: 10px 20px;
  border: 1px solid grey ;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: visible;
}

.article-title {
  color: #E85A4F;
  font-size: 24px;
  font-family:"roboto";
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-family: "montserrat";
}
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

*:focus {
  outline: none;
}
.notification{
    position: relative;
    left: 10px;
    bottom: 10px;
}
.readtime {
  float: right; 
  color: violet;
}
.viewcount {
  float: right;
}


.jumbotron {
  margin-top: 10px;
  background-color: #eae4dc;
}

footer{
  background-color: #5c5b56;
  text-decoration-color:#f4f4f2;
}
.links{
  color: #f4f4f2;
  display:inline-block;
}
.links:hover{
  color: #ffffff;
}

strong{
  margin-left: 10px;
}

#navbtn1{
   border-color:#E85A4F; 
   margin-left:450px;
    border-radius: 5px; 
    size:35px ; 
    padding: 4px 70px; 
    transition-duration: 0.3s;
}
#navbtn2{
  border-color:#E85A4F;
   border-radius: 20px;
    font-size:15px ; 
    padding: 2px 20px
}
#navbtn3{
  border-color:#E85A4F;
   transition-duration: 0.3s;
   padding: 8 80 ;
}
#navbtn4{
  margin-left: 20px ;
  border-color:#E85A4F;
  transition-duration: 0.3s;
  padding: 8 80 ;
}
#navbtn5{
  margin-left:50px;
  padding: 8 80 ; 
  border-color:#E85A4F;
  transition-duration: 0.3s;

}
#navbtn5:hover{
  background-color:#e85a4f;
  color:#f4f4f2;
}
#navbtn3:hover{
  background-color:#e85a4f;
  color:#f4f4f2;
}
#navbtn4:hover{
  background-color:#e85a4f;
  color:#f4f4f2;
}
#navbtn1:hover{
  background-color:#e85a4f;
  color:#f4f4f2;
}
#navbtn1:active,#navbtn5:active,#navbtn3:active,#navbtn4:active{
  background-color:#e85a4f;
}