<div class="title" id="title" style="text-align: center;">
        <h1>Dashboard</h1>
    </div>
    <br><br>
    <section style="background: #E8BDB5; color: rgba(255, 255, 255, 1);border:5px solid black">
      <br>
  <h2 style="text-align: center ;text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;"><img src="https://png.pngtree.com/png-vector/20190223/ourlarge/pngtree-stats-glyph-black-icon-png-image_691602.jpg" class="general-icon"> YOUR STATS</h2>
  <hr>
  <nav class="circle">
    <ul>
      <li class ="v1"><img src="https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/multiple-users-silhouette.svg?alt=media&token=0ad87cb5-875d-4e02-a6ee-018ad54db5b4" class="general-stat-icon"  alt=""> 400  Total Views</li>
      <li><img src="https://firebasestorage.googleapis.com/v0/b/cloud-functions-playground-01.appspot.com/o/calendar.svg?alt=media&token=56beee02-dfd9-4774-83b1-617be486e8d9" class="general-stat-icon" alt="">  145 Blogs Written</li>
      <li><img src="https://www.pngkey.com/png/detail/778-7786102_instagramm-clipart-instagram-icon-instagram-follower-logo-transparent.png" class="general-stat-icon" alt="">  50 Followers</li> 
      <br>
      <hr style="border: 1px solid black;">
      <li><img src="https://www.freeiconspng.com/thumbs/writing-icon/edit-learning-writing-icon--0.jpg" class="general-stat-icon" alt="" height="45"><button class="button button1">Lets write</button></li> 
      <li> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-VRtJXZS9FkvnIEIzZX2M8kQmwk2N_qtUHw&usqp=CAU" class="general-stat-icon" alt="">  300  Blog Views</li>
      <li> <img src="https://www.netclipart.com/pp/m/162-1622905_hd-admin-user-icon-free-human-icon-png.png" class="general-stat-icon" alt="">  100  Profile Views</li>
    </ul>
  </nav>
</section>

<br><br>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainer1" style="height: 200px; width: 100% ;"></div>
<br><br>

<br><br>
<div id="chartContainer2" style="height: 200px; width: 100%;"></div>
<br><br>
 <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>

<br><br>
<br><br>
<br><br>
<div class="container my-auto" style="text-align: center; padding-bottom: 30px;">
  <hr>
  <h4 id="subheading" style="text-align: center;">Subscribe to our newsletter to get latest blog post links</h4>
  <div class="box" style="position: relative; margin-left: auto !important; margin-right: auto !important; padding-top: 20px;">
      <input style = "height:40px; width:350px;" type="search" placeholder="Enter your mail id" aria-label="Search Communtiies">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Mail me</button>
    </div>
</div>