<!-- Navbar starts here -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../static/images/logo-transparent.png" style="height:70px; width:180px;"></img>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <h4><a class="nav-link" href="#"><img src="https://img.icons8.com/flat_round/50/000000/home--v1.png"/>Home <span class="sr-only">(current)</span></a></h4>
      </li>
      <li class="nav-item active">
        <h4><a class="nav-link" href="#"><img src="https://img.icons8.com/bubbles/50/000000/conference-call.png"/>Communities</a></h4>
      </li>
      <li class="nav-item">
        <h4><a class="nav-link" href="#"><img src="https://img.icons8.com/color/50/000000/appointment-reminders.png"/>Notifications</a></h4>
      </li>
    <form class="form-inline my-2 my-lg-0" id="searchNav">
      <input class="form-control mr-sm-2" type="search" id="search" placeholder="Search Communities" aria-label="Search Communtiies">
      <i id = "searchIcon" class="fa fa-search icon"></i>
    </form>
        </ul>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <h4><a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><img src="https://img.icons8.com/color/50/000000/user-location.png"/>Profile</a></h4>
      </li>
    </ul>
  </div>
  </div>
</nav>
<!-- Navbar ends here -->