<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">My Dashboard</li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-thumbs-o-up"></i>
            </div>
            <div class="mr-5"> Likes and Claps!!!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">236 Claps</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-list"></i>
            </div>
            <div class="mr-5">Trending Blogs</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">20 blogs</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-eye"></i>
            </div>
            <div class="mr-5">Total Profile Views</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">100+ Views</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-user"></i>
            </div>
            <div class="mr-5">Followers</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">50+</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- Area Chart Example-->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i> Total Time Spent by You !!</div>
      <div class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <!-- Example Bar Chart Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bar-chart"></i> Views Per Month</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8 my-auto">
                <canvas id="myBarChart" width="100" height="50"></canvas>
              </div>
              <div class="col-sm-4 text-center my-auto">
                <div class="h4 mb-0 text-primary">150</div>
                <div class="small text-muted">Followers</div>
                <hr>
                <div class="h4 mb-0 text-warning">300</div>
                <div class="small text-muted">Likes</div>
                <hr>
                <div class="h4 mb-0 text-success">120</div>
                <div class="small text-muted">Views</div>
              </div>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <!-- Card Columns Example Social Feed-->
        <div class="mb-0 mt-4">
          <i class="fa fa-newspaper-o"></i> Top Blogs</div>
        <hr class="mt-2">
        <div class="card-columns">
          <!-- Example Social Card-->
          <div class="card mb-3">
            <a href="#">
              <img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=610" alt="">
            </a>
            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">David Miller</a></h6>
              <p class="card-text small">Nature Blog
                <a href="#">#surfsup</a>
              </p>
            </div>
            <hr class="my-0">
            <div class="card-body py-2 small">
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-thumbs-up"></i>Like</a>
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-comment"></i>Comment</a>
              <a class="d-inline-block" href="#">
                <i class="fa fa-fw fa-share"></i>Share</a>
            </div>
            <hr class="my-0">
            <div class="card-body small bg-faded">
              <div class="media">
                <img class="d-flex mr-3" src="http://placehold.it/45x45" alt="">
                <div class="media-body">
                  <h6 class="mt-0 mb-1"><a href="#">John Smith</a></h6>Motivational Blog
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="#">Like</a>
                    </li>
                    <li class="list-inline-item">·</li>
                    <li class="list-inline-item">
                      <a href="#">Reply</a>
                    </li>
                  </ul>
                  <div class="media mt-3">
                    <a class="d-flex pr-3" href="#">
                      <img src="http://placehold.it/45x45" alt="">
                    </a>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1"><a href="#">Pallavi</a></h6>Next time for sure!
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <a href="#">Like</a>
                        </li>
                        <li class="list-inline-item">·</li>
                        <li class="list-inline-item">
                          <a href="#">Reply</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Posted 32 mins ago</div>
          </div>
          <!-- Example Social Card-->
          <div class="card mb-3">
            <a href="#">
              <img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=180" alt="">
            </a>
            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">John Smith</a></h6>
              <p class="card-text small">New Norm 
                <a href="#">#workinghardorhardlyworking</a>
              </p>
            </div>
            <hr class="my-0">
            <div class="card-body py-2 small">
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-thumbs-up"></i>Like</a>
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-comment"></i>Comment</a>
              <a class="d-inline-block" href="#">
                <i class="fa fa-fw fa-share"></i>Share</a>
            </div>
            <hr class="my-0">
            <div class="card-body small bg-faded">
              <div class="media">
                <img class="d-flex mr-3" src="http://placehold.it/45x45" alt="">
                <div class="media-body">
                  <h6 class="mt-0 mb-1"><a href="#">Jessica</a></h6>Where did you get that camera?! I want one!
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="#">Like</a>
                    </li>
                    <li class="list-inline-item">·</li>
                    <li class="list-inline-item">
                      <a href="#">Reply</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Posted 46 mins ago</div>
          </div>
          <!-- Example Social Card-->
          <div class="card mb-3">
            <a href="#">
              <img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=281" alt="">
            </a>
            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">Anusha</a></h6>
              <p class="card-text small">Nice informative
                <a href="#">#kickflip</a>
                <a href="#">#igotthis</a>
              </p>
            </div>
            <hr class="my-0">
            <div class="card-body py-2 small">
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-thumbs-up"></i>Like</a>
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-comment"></i>Comment</a>
              <a class="d-inline-block" href="#">
                <i class="fa fa-fw fa-share"></i>Share</a>
            </div>
            <div class="card-footer small text-muted">Posted 1 hr ago</div>
          </div>
          <!-- Example Social Card-->
          <div class="card mb-3">
            <a href="#">
              <img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=185" alt="">
            </a>
            <div class="card-body">
              <h6 class="card-title mb-1"><a href="#">David Jones</a></h6>
              <p class="card-text small">Travel Blogs
                <a href="#">#desert</a>
                <a href="#">#water</a>
                <a href="#">#anyonehavesomewater</a>
                <a href="#">#noreally</a>
                <a href="#">#thirsty</a>
                <a href="#">#dehydration</a>
              </p>
            </div>
            <hr class="my-0">
            <div class="card-body py-2 small">
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-thumbs-up"></i>Like</a>
              <a class="mr-3 d-inline-block" href="#">
                <i class="fa fa-fw fa-comment"></i>Comment</a>
              <a class="d-inline-block" href="#">
                <i class="fa fa-fw fa-share"></i>Share</a>
            </div>
            <hr class="my-0">
            <div class="card-body small bg-faded">
              <div class="media">
                <img class="d-flex mr-3" src="http://placehold.it/45x45" alt="">
                <div class="media-body">
                  <h6 class="mt-0 mb-1"><a href="#">Jagan</a></h6>The oasis is a mile that way, or is that just a mirage?
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="#">Like</a>
                    </li>
                    <li class="list-inline-item">·</li>
                    <li class="list-inline-item">
                      <a href="#">Reply</a>
                    </li>
                  </ul>
                  <div class="media mt-3">
                    <a class="d-flex pr-3" href="#">
                      <img src="http://placehold.it/45x45" alt="">
                    </a>
                    <div class="media-body">
                      <h6 class="mt-0 mb-1"><a href="#">Pallavi</a></h6>
                      <img class="img-fluid w-100 mb-1" src="https://unsplash.it/700/450?image=789" alt="">I'm saved, I found a cactus. How do I open this thing?
                      <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                          <a href="#">Like</a>
                        </li>
                        <li class="list-inline-item">·</li>
                        <li class="list-inline-item">
                          <a href="#">Reply</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer small text-muted">Posted yesterday</div>
          </div>
        </div>
        <!-- /Card Columns-->
      </div>
      <div class="col-lg-4">
        <!-- Example Pie Chart Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-pie-chart"></i> Popular Blog Topics</div>
          <div class="card-body">
            <canvas id="myPieChart" width="100%" height="100"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <!-- Example Notifications Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bell-o"></i>  Recent Feed</div>
          <div class="list-group list-group-flush small">
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                <div class="media-body">
                  <strong>Pallavi</strong> posted a new blog related to
                  <strong>Website</strong>.
                  <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                <div class="media-body">
                  <strong>Samantha </strong> sent you a new comment!
                  <div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                <div class="media-body">
                  <strong>Anushka</strong> added a new pic to the her blog
                  <strong>Beach</strong>.
                  <div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
              <div class="media">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                <div class="media-body">
                  <i class="fa fa-code-fork"></i>
                  <strong>Monica </strong> blog is 
                  <strong>trending</strong>Blog on 
                  <strong>Open Source</strong>.
                  <div class="text-muted smaller">Today at 3:54 PM - 2hrs ago</div>
                </div>
              </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">View all activity...</a>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>







