{% extends 'blog/base.html' %} {% block slider%}
<div class="slider">
    <input name="input-slider" id="input-slide-0" type="radio" class="input-slide input-slide-num" style="display: none;" />
    <input name="input-slider" id="input-slide-1" type="radio" class="input-slide input-slide-num" style="display: none;" />
    <input name="input-slider" id="input-slide-2" type="radio" class="input-slide input-slide-num" style="display: none;" />
    <input name="input-slider" id="input-slide-3" type="radio" class="input-slide input-slide-num" style="display: none;" />
    <input name="input-slider" id="input-slide-autoplay" type="radio" class="input-slide" checked style="display: none;" />
    <ul>
        <li class="slide-0"></li>
        <li class="slide-1"></li>
        <li class="slide-2"></li>
        <li class="slide-3"></li>
    </ul>

    <div class="slide-description">
        <label class="slide-0">
            <h1 class="text-slide">{{ mostliked1.title }}</h1>
            <h5>{{mostliked1.content|truncatechars:70}}</h5>
            <a href="{% url 'post-detail' slug=mostliked1.slug %}" class="readmorebutton">Read More</a>
        </label>
        <label class="slide-1">
            <h1 class="text-slide">{{ mostliked2.title }}</h1>
            <h5>{{mostliked2.content|truncatechars:70}}</h5>
            <a href="{% url 'post-detail' slug=mostliked2.slug %}" class="readmorebutton">Read More</a>
        </label>
        <label class="slide-2">
            <h1 class="text-slide">{{ mostliked3.title }}</h1>
            <h5>{{mostliked3.content|truncatechars:70}}</h5>
            <a href="{% url 'post-detail' slug=mostliked3.slug %}" class="readmorebutton">Read More</a>
        </label>
        <label class="slide-3">
            <h1 class="text-slide">{{ mostliked4.title }}</h1>
            <h5>{{mostliked4.content|truncatechars:70}}</h5>
            <a href="{% url 'post-detail' slug=mostliked4.slug %}" class="readmorebutton">Read More</a>
        </label>
    </div>

    <div class="slider-dot">
        <label class="slide-0" for="input-slide-0"></label>
        <label class="slide-1" for="input-slide-1"></label>
        <label class="slide-2" for="input-slide-2"></label>
        <label class="slide-3" for="input-slide-3"></label>
    </div>
</div>
{% endblock %} {% block content %} {% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'blog-profile' name=post.author %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
            {% comment %} 3<img src="{% static "viewicon.png" %}"></img> {% endcomment %}
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content|truncatechars:300 }}</p>
    </div>
</article>
{% endfor %} {% endblock%}
