{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>

      <!-- The like button  -->
      {% if user.is_authenticated %}
        {% if user not in object.likes.all %}
          <form class="" action="{% url 'like_post' object.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm active"
                    type="submit" name="like_btn" value="{{object.id}}">Like</button> {{total_likes}} Likes
          </form>
        {% else %}
          <form class="" action="{% url 'like_post' object.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm disabled"
                    type="submit" name="like_btn" value="{{object.id}}">Like</button> {{total_likes}} Likes
          </form>
        {% endif %}
      {% else %}
        <a class="btn btn-primary btn-sm active" href="{% url 'login' %}">Like</a> {{total_likes}} Likes
        <br>
      {% endif %}
      <!-- Like button ends -->

      <br>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}
