{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">

    
    {% if object.author.profile.image.url  %}
      <img class="rounded-circle article-img img-responsive" src="{{ object.author.profile.image.url }}"> 
    {%else%}
      <img class="rounded-circle article-img img-responsive" id="profileImage" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" >
    {% endif%}


    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        <p style="float: right; color: violet;">{{object.readTIme}} min read</p>
        <div class="faviorite" style="display: inline-block;">
          <a href="{% url 'users:favourite_add' object.id %}" class="text-dark">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-bookmark-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4zm9-1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z" />
              <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
            </svg>
          </a>
        </div>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            <hr style="height: 5px; margin-top: 0px;">
            <div class="tag" style = "position:relative; top:-11px;">
              <strong>Tags</strong>:
              {% for tag in object.tags.all %}
                <a style ="color:white;"href="#" class="mr-1 badge badge-info">#{{tag}}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
      {% if object.image.url != '' %} <!--Condition to see if there's any cover image with the blog-->
        <img src="{{ object.image.url }}" alt="Unable to load the Image" style="width: 100%;">
        <div class="horizontalgap" style="height:10px"></div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|safe }}</p>
      {% else %}
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|safe }}</p>
      {% endif %}
    </div>
  </article>
{% endblock content %}
